<template>
    <div class="p-5" v-if="isFetch">
        <div class="w-full">
            <div class="w-1/3 flex float-right">
                <Datepicker v-model="date" range />
                <button @click="filterDate()" class="btn btn_primary text-sm rounded">Filter</button>
            </div>
        </div>
        <div class="overflow-x-scroll w-full py-10">
            <DataTable 
                class="display table table-bordered table-responsive  table-striped w-full"
                :options="{select: true}"
                v-if="data.length > 0"
            >
                <thead>
                    <tr>
                        <th v-for="col in logColumns" >{{ col }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="dat in data">
                        <td v-for="da in dat">{{da}}</td>
                    </tr>
                </tbody>
            </DataTable>
            <h1 v-else class="text-center my-10">Record not found</h1>
        </div>
    </div>
    <ContentPlaceHolder v-else />
</template>
<script>
import DataTable from 'datatables.net-vue3';
import { mapActions, useStore, mapGetters, mapState, mapMutations } from "vuex";
export default {
    components: {DataTable},
    name: 'DeviceLogTable',
    data(){
        return {
            logColumns: [],
            date: [],
            data: [],
            isFetch: false,
            query: {
                imei: '',
                from: this.$dayjs(new Date(new Date() - 1000 * 60 * 60 * 24 * 1)).format('YYYY-MM-DD HH:mm:s'),
                to: this.$dayjs(new Date()).format('YYYY-MM-DD HH:mm:s'),
            }
        }
    },
    computed: {
        ...mapState("device", ['currentDevice', 'devices'])
    },
    methods: {
        ...mapActions('device', ['fetchDeviceLogs']),
        
        async getDeviceLogs(){
            let query = this.query
            query.imei = this.currentDevice.imei
            this.isFetch = false
            await this.fetchDeviceLogs(query)
            .then((res) =>{
                // console.log(res)
                if(res.length > 0){
                    this.data = res.map((d) => (d.data))
                    this.logColumns = Object.keys(this.data[0]).map(c => c.toUpperCase() )
                }
                this.isFetch = true
                console.log(this.data)
            })
        },

        filterDate(){
            this.query.from = this.$dayjs(this.date[0]).format('YYYY-MM-DD HH:mm:s')
            this.query.to = this.$dayjs(this.date[1]).format('YYYY-MM-DD HH:mm:s')
            this.getDeviceLogs()
        }
    },
    mounted() {
        this.getDeviceLogs(this.query)
    }
}

</script>

<style>
    @import 'datatables.net-bs5';  

    #DataTables_Table_0_paginate .paginate_button {
        padding: 10px;
        border: solid 2px whitesmoke;
        cursor: pointer;
    }
</style>



"auto_test_start,
