<template>
     <!-- Actions -->
    <div class="card lg:flex p-4 mb-5">
        <button class="" @click="$router.back()">
            <span class="text-bold"><i class="la la-undo"></i>Back</span>  
        </button>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <!-- <h2 class="text-xl text-center leading-tight">242423449</h2> -->
        </div>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <div class="w-1/3  mt-0">
                <div class=" flex ml-2">
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class="text-xs">Maitain</p>
                    </button>
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class="text-xs">Configure</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div  class="w-full">
        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full">
                <ChiomaSystemStats :imei="deviceImei"  />
            </div>
        </div>



        <div class="lg:flex lg:px-4 pt-5 lg:pt-0">
            <!-- Real time info  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <h3 class="text-xl">Real Time Information</h3>
                <BlockRealtimeGraph :device="currentDevice" />
            </div>
        </div>

        <div class="lg:flex lg:px-4 pt-5 lg:pt-0">
            <!-- Consumption chart Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <h3 class="text-xl">Consumption Chart</h3>
                <ChiomaConsumptionChart :device="currentDevice" />
            </div>
        </div>

        <div class="lg:flex lg:px-4 pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <h3 class="text-xl">Energy Overview</h3>
                <ChiomaEnergyOverview :device="deviceImei" />
            </div>
        </div>
    </div>
</template>

<route lang="yaml">
meta:
    layout: dashboard
</route>

<script>
    import { useRouter, useRoute  } from 'vue-router'
    import {mapGetters, mapActions, mapState, mapMutations} from 'vuex'

    export default{
        setup(){
            const router = useRouter()
            const route  = useRoute()
            return{
                ...mapActions('device', ['fetchDevice']),
                ...mapMutations('device', ['SET_CURRENT_DEVICE']),
            }
        },
        
        data(){
            return{
                currentDevice: {
                    imei: this.$route.params.imei
                },
                deviceImei: this.$route.params.imei
            }
        },

        methods: {
            async setCurrentDevice(imei) {
                let device = await this.fetchDevice(imei)
                this.SET_CURRENT_DEVICE(device)
            }
        },

        mounted(){
            console.log('werwer', this.$route.params.imei)
            this.setCurrentDevice(this.$route.params.imei)
        }
    }
</script>
