<template>
    <div class="real_time" v-if="isFetched" >
        <!-- Switch -->
        <div class="text-right">
            <button class="btn rounded-lg p-1 px-2" :class="status ? 'border-success' : 'border-danger'">
                {{ status ? 'Online' : 'Offline' }}
            </button>
        </div>

        <!-- solar -->
        <div style="" class="solar">
            <div class="flex justify-content-between space-x-2 items-center">
                <img src="/assets/images/panel.png" class="w-16" alt="" />
                <div class="">
                    <div class="flex space-x-2 items-center">
                        <small class="col text-muted">PV1</small>
                        <p class="col font-weight-bold mb-0" style="color: #000 !important">
                            {{ blockData.ppv1 }}W
                        </p>
                        <p class="col font-weight-bold mb-0" style="color: #000 !important">
                            {{ blockData.vpv1 }}V
                        </p>
                    </div>
                    <div class="flex space-x-2 items-center mt-3">
                        <small class="col text-muted">PV2</small>
                        <p class="col font-weight-bold mb-0" style="color: #000 !important">
                            {{ blockData.ppv2 }}W
                        </p>
                        <p class="col font-weight-bold mb-0" style="color: #000 !important">
                            {{ blockData.vpv2 }}V
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- BATTERY -->
        <div style="" class="battery">
            <div class="flex">
                <div>
                    <div class="">
                        <small>Battery Voltage</small>
                        <p class="font-weight-bold mb-0" style="color: #000 !important">
                            {{ blockData.vbat }}V
                        </p>
                    </div>
                    <div class="">
                        <small>Battery Level</small>
                        <p class="font-weight-bold mb-0" style="color: #000 !important">
                            {{ inverterData.soc ? inverterData.soc : ' --- ' }}%
                        </p>
                    </div>
                </div>
                <img src="/assets/images/battery2.png" class="w-16" alt="" />
            </div>
        </div>

        <!-- House -->
        <div style="" class="house">
            <div class="flex">
                <div class="">
                    <div class="ml-0">
                        <div class="">
                            <small>EPS</small>
                            <p class="font-weight-bold mb-0" style="color: #000 !important">
                                {{ chiomaData.total_active_power }} kW
                            </p>
                        </div>
                    </div>
                </div>
                <div class="align-self-end">
                    <img src="/assets/images/home.png" class="w-16" alt="" />
                </div>
            </div>
        </div>
        <div style="" class="eps">
            <div class="flex">
                <div class="align-self-end">
                    <img src="/assets/images/eps.png" class="w-16" alt="" />
                </div>
            </div>
        </div>

        <!-- Inverter SYSTem -->
        <div style="" class="inverter">
            <img src="/assets/images/chioma.png" class="w-16" alt="" />

            <div class="mb-4 inverter-left">
                <img src="/assets/images/_arrow_left.gif" class="" alt="" v-if=" state == 12 || state == 32 || state == 40 || state == 136 " />

                <div class="flex">
                    <img src="/assets/images/_arrow_right.gif" class="" alt="" v-if="state == 64 || state == 16 || state == 20 || state == 192" />
                </div>
            </div>

            <div class="mb-4 backup-down">
                <img src="/assets/images/_arrow_right.gif" class="arrow_down" alt="" v-if="
            (state != 0 && state != 1 && state != 2) || inverterData.vacr != 0
          " />
            </div>

            <div class="mb-4 solar-down">
                <!-- 4:PVGridOn, 8:PVCharge, 12:PVChargeGridOn 20:PV+BatGridOn -->
                <img src="/assets/images/_arrow_right.gif" class="arrow_down" style="top: 5rem" alt="" v-if="
            state == 4 ||
            state == 8 ||
            state == 12 ||
            state == 20 ||
            state == 40 ||
            state == 128 ||
            state == 192 ||
            state == 136
          " />
            </div>

            <div class="mb-4 inverter-right">
                <img src="/assets/images/_arrow_right.gif" class="arrow_down" style="top: 5rem" alt="" v-if="
            state == 4 ||
            state == 8 ||
            state == 12 ||
            state == 16 ||
            state == 20
          " />
            </div>
        </div>

        <!-- grid -->
        <div style="" class="grid">
            <div class="flex">
                <img src="/assets/images/grid.png" alt="" class="w-16" />
                <div class="d-none d-md-inline">
                    <small>Import power</small>
                    <p class="font-weight-bold mb-0" style="color: #000 !important">
                        {{ inverterData.etouser_all ? inverterData.etouser_all : ' --- ' }}
                        kWh
                    </p>
                    <small>Grid Voltage</small>
                    <p class="font-weight-bold mb-0" style="color: #000 !important">
                        {{ inverterData.vacr ? inverterData.vacr : ' --- ' }} V
                    </p>
                </div>
            </div>
        </div>
        <div style="" class="autogen">
            <div class="flex">
                <img src="/assets/images/generator.png" alt="" class="w-16" />
                <div class="d-none d-md-inline">
                    <small>Gen power</small>
                    <p class="font-weight-bold mb-0" style="color: #000 !important">
                        {{ inverterData.etouser_all ? inverterData.etouser_all : ' --- ' }}
                        kWh
                    </p>
                </div>
            </div>
        </div>
    </div>

    <ContentPlaceHolder v-else />

</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
export default {
    name: 'BlockRealtime',
    props: ['device'],
    data() {
        return {
            blockData: {},
            inverterData: {},
            chiomaData: {},
            isFetched: false
        }
    },
    computed: {
        ...mapState('dashboard', []),
        ...mapGetters("device", ["currentDevice"]),
        state() {
            return this.blockData.state
        },
        imei() {
            return this.device ? this.device.imei : this.currentDevice.imei
        },
    },
    methods: {
        ...mapActions('device', ['fetchDevice']),
    },
    async mounted() {
        await this.fetchDevice(this.imei)
            .then((res) => {
                console.log(res)
                this.blockData = res.block.data ?? {}
                this.inverterData = (res.data) ?? {}
                this.meterData = (res.data) ?? {}
                this.isFetched = true
            })
        // console.log(this.blockData)
        // setInterval(() => {
        //   this.$socket.emit('data', {
        //     event: 'device_detail',
        //     key: this.socket_auth.key,
        //     imei: this.chiomaDevice.imei,
        //     token: this.$config.socketToken,
        //   })
        // }, 2000)
       // listen to chioma data event
        // this.$socket.on('data', (data) => {
        //   if (data.device && data.device.imei === this.chiomaDevice.imei) {
        //     this.blockData = JSON.parse(data.device)
        //     // this.inverterData = JSON.parse(data.device.inverter.data)
        //     // this.chiomaData = JSON.parse(data.device.data)
        //   }
        //   // do extra check if need be
        //   if (
        //     data.device &&
        //     data.device.block &&
        //     data.device.block.reference == this.blockReference
        //   ) {
        //     this.blockData = JSON.parse(data.device.block.data)
        //   }
        // })
    },
}

</script>

<style scoped>
.solar {
    position: absolute;
    top: 10%;
    left: 35%;
    width: max-content;
}

.battery {
    position: absolute;
    top: 40%;
    left: 2%;
}

.eps {
    position: absolute;
    bottom: 10%;
    left: 35%;
}

.house .flex {
    gap: 1rem;
}

.house {
    position: absolute;
    bottom: 10%;
    left: 55%;
}

.inverter {
    position: absolute;
    top: 40%;
    left: 35%;
}

.grid {
    position: absolute;
    top: 40%;
    right: 5%;
}

.autogen {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.real_time {
    /* background-color: #e5e5e5; */
    padding: 1rem;
    position: relative;
    height: 600px;
}

media (max-width: 768px) {
    .solar {
        top: 10%;
    }

    .battery {
        left: 0;
    }

    .house {
        left: 35%;
    }

    .inverter {
        top: 40%;
    }

    .grid {
        right: 0;
    }

    .real_time img {
        width: 100%;
    }
}

.stop {
    animation-duration: 0s;
    color: #999999;
}

.house-down {
    position: relative;
    width: max-content;
    top: -10px;
    left: 40px;
    width: max-content;
}

.solar-down {
    position: relative;
    width: max-content;
    top: -220px;
    left: 0px;
    width: max-content;
}

.backup-down {
    position: relative;
    width: max-content;
    top: 30px;
    left: 0px;
    width: max-content;
}

.inverter-right {
    position: relative;
    width: max-content;
    top: -180px;
    left: 140px;
    transform: rotate(270deg);
    gap: 1rem;
}

.inverter-left {
    position: relative;
    width: max-content;
    top: -40px;
    left: -170px;
}

.grid-left {
    position: absolute;
    width: max-content;
    top: 35px;
    left: -90px;
}

#arrowAnim {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Arrow Directions */
.arrow_down {
    transform: rotate(90deg);
}

</style>
