<template>

     <!-- Actions -->
     <div class="">
        <SwitchDeviceComponent/>
    </div>


    <!-- Inverter -->
    <div v-if="currentDevice.device_type==7" class="w-full ">
        <div class="lg:w-full flex flex-wrap ">
            <InverterStats />

        </div>

        <div class="lg:flex  pt-5 lg:pt-0">
            <!-- Block realtime  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <h3 class="text-xl">Real Time Information</h3>
                <!-- <img src="/assets/images/frame-20.png">  -->
                <BlockRealtimeGraph :device="currentDevice" />
            </div>
        </div>

        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaConsumptionChart />
            </div>
        </div>

        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaEnergyOverview />
            </div>
        </div>
    </div>

    <!-- Kike -->
    <div v-if="currentDevice.device_type==2"  class="w-full">
       
        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <KikeRealTime  />
            </div>
        </div>

        <div class="lg:flex  pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaConsumptionChart />
            </div>
        </div>

        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaEnergyOverview />
            </div>
        </div>
    </div>


    <!-- chioma -->
    <div v-if="currentDevice.device_type==1 || currentDevice.device_type==6" :key="currentDevice.imei"  class="w-full">
       
        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full">
                <ChiomaSystemStats  />
            </div>
        </div>

        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Block realtime  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <h3 class="text-xl">Real Time Information</h3>
                <BlockRealtimeGraph :device="currentDevice" />
            </div>
        </div>

        <div class="lg:flex  pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaConsumptionChart />
            </div>
        </div>

        <div class="lg:flex pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaEnergyOverview />
            </div>
        </div>
    </div>

</template>



<route lang="yaml">
    meta:
        layout: dashboard
        middleware: []
        requiresAuth: true
</route>

<script>
import { useMeta } from 'vue-meta'
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { mapActions, useStore, mapGetters, mapState, mapMutations } from "vuex";
export default {
    setup() {
        useMeta({
            title: 'Monitor',
        })
        const router = useRouter()
        const store = useStore()
        const newName = ref('')
        return {
            ...mapActions('device', ['fetchDevice']),
            ...mapActions('deviceadmin', ['fetchDevice'])
        }
    },
    computed: {
        ...mapState("device", ['currentDevice', 'devices'])
    },
    mounted() {
    }
}

</script>
