<template>
    <div class="lg:w-full flex items-stretch">
        <!-- Summaries -->
        <div class="lg:w-1/4  w-1/2 p-2">
            <div class="card px-4 py-8 h-full  lg:transform hover:scale-110 hover:shadow-lg transition-transform duration-200">
                <p class="my-2 text-xl">Solar Yielding</p>
                <hr>
                <div class="flex">
                    <div class="text-primary text-center mt-4 text-5xl leading-none w-1/2">
                        <i class="las la-solar-panel"></i>
                    </div>
                    <div class="text-primary mt-5  leading-none w-1/2 ">
                        <p class="text-gray-300 py-1">Today yielding</p>
                        <p>{{ todayYielding }} kWH</p>
                        <hr class="my-2">
                        <p class="text-gray-300 py-1">Total yielding</p>
                        <p>{{totalYielding}} kWH</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="lg:w-1/4  w-1/2 p-2 ">
            <div class="card h-full px-4 py-8 text-center lg:transform hover:scale-110 hover:shadow-lg transition-transform duration-200">

                <p class="my-2 text-xl">Battery Discharge</p>
                <hr>
                <div class="flex">
                    <div class="text-primary text-center mt-4 text-5xl leading-none w-1/2">
                        <i class="las la-battery-three-quarters"></i>
                    </div>
                    <div class="text-primary mt-5  leading-none w-1/2 ">
                        <p class="text-gray-300 py-1">Today Discharging</p>
                        <p>{{todayDischarge}} kWH</p>
                        <hr class="my-2">
                        <p class="text-gray-300 py-1">Total Discharging</p>
                        <p>{{totalDischarge}} kWH</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="lg:w-1/4  w-1/2 p-2">
            <div class="card h-full px-4 py-8 text-center lg:transform hover:scale-110 hover:shadow-lg transition-transform duration-200">

                <p class="my-2 text-xl">Feed-in Energy</p>
                <hr>
                <div class="flex">
                    <div class="text-primary text-center mt-4 text-5xl leading-none w-1/2">
                        <i class="las la-icons"></i>
                    </div>
                    <div class="text-primary mt-5  leading-none w-1/2 ">
                        <p class="text-gray-300 py-1">Today Export</p>
                        <p>{{todayExport}} kWH</p>
                        <hr class="my-2">
                        <p class="text-gray-300 py-1">Total Export</p>
                        <p>{{ totalExport }} kWH</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="lg:w-1/4 w-1/2 p-2">
            <div class="card h-full px-4 py-8 text-center lg:transform hover:scale-110 hover:shadow-lg transition-transform duration-200">

                <p class="my-2 text-xl">Consumption</p>
                <hr>
                <div class="flex">
                    <div class="text-primary text-center mt-4 text-5xl leading-none w-1/2">
                        <i class="la la-layer-group"></i>
                    </div>
                    <div class="text-primary mt-5  leading-none w-1/2 ">
                        <p class="text-gray-300 py-1">Today Usage</p>
                        <p>{{todayUsage}} kWH</p>
                        <hr class="my-2">
                        <p class="text-gray-300 py-1">Total Usage</p>
                        <p>{{totalUsage}} kWH</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
export default {
    name: 'InverterStats',
    props: ['device'],
    data() {
        return {
            status: 0,
            active: true,
            inverterData: {},
            solarinfocard: [true, false, false],
            batteryinfocard: [true, false],
            gridinfocard: [true, false],
            usageinfocard: [true, false],
        }
    },
    computed: {
        ...mapState('dashboard', ['socket_auth']),
        // inverter data description
        todayYielding() {
            // Data.epv1_dat +  data.epv2_day+ data.epv3_day
            let data = this.inverterData
            return Number(data.epv1_day + data.epv2_day + data.epv3_day)
        },
        totalYielding() {
            // Data.epv1_all + data.epv2_all + data.epv3_all
            let data = this.inverterData
            return Number(data.epv1_all + data.epv2_all + data.epv3_all)
        },
        totalDischarge() {
            // Data.edisch_all
            let data = this.inverterData
            return data.edischg_all
        },
        todayDischarge() {
            // Data.edisch_day
            let data = this.inverterData
            return data.edischg_day
        },
        todayCharge() {
            // Data.edisch_day
            let data = this.inverterData
            return data.echg_day
        },
        totalCharge() {
            // Data.edisch_day
            let data = this.inverterData
            return data.echg_all
        },
        todayExport() {
            // Data.etogrid_day
            let data = this.inverterData
            return Number(data.etogrid_day)
        },
        totalExport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etogrid_all)
        },
        totalImport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etouser_all)
        },
        todayImport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etouser_day)
        },
        totalImport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etouser_all)
        },
        todayUsage() {
            // Data.etouser_day
            let data = this.inverterData
            return Number(data.etouser_day)
        },
        totalUsage() {
            // Data.etouser_all
            let data = this.inverterData
            return Number(data.etouser_all)
        },
    },
    methods: {
        ...mapActions('device', ['fetchDevice']),
        switchInfoCard(card, from, to) {
            card[from] = false
            card[to] = true
        },
    },
    async mounted() {
        // this.inverterData = JSON.parse(this.device.data)
        // fetch initial data from apis
        await this.fetchDeviceData(this.device.imei).then((res) => {
            this.inverterData = JSON.parse(res.device.data)
        })

        // setInterval(() => {
        //     this.$socket.emit('data', {
        //         event: 'device_detail',
        //         key: this.socket_auth.key,
        //         imei: this.device.imei,
        //         token: this.$config.socketToken,
        //     })
        // }, 20000)
        // // listen to chioma data event
        // this.$socket.on('data', (data) => {
        //     if (data.device && data.device.imei === this.device.imei) {
        //         this.blockData = JSON.parse(data.device.block.data)
        //         this.inverterData = JSON.parse(data.device.inverter.data)
        //         this.chiomaData = JSON.parse(data.device.data)
        //     }
        // })
    },
}

</script>

<style scoped>
img {
    width: 80%;
}

@media (max-width: 768px) {
    img {
        width: 50%;
    }
}

</style>
