<template>
    <div class="flex mt-5 g-2">
        <div class="w-5/6 ">
            <div class="w-1/5 mb-0">
                <datepicker :change="selectChange()" v-model="event_date" class="border-0 inherit form-control mt-2 pt-2" placeholder="Date of Birth" type="date" :format="'dd-MM-YYYY'" :upperLimit="upper_limit" :lowerLimit="lower_limit" />
                <span><i class="fa fa-caret"></i></span>
            </div>
            <div id="chart">
                <apexchart type="area" height="350" :options="chartOptions" :series="series"></apexchart>
            </div>
        </div>
        <div class="w-1/6 ml-md-5 p-0 ">
            <div class=" p-2">
                <h3>Other Revenue</h3>
                <div class="bg-grey p-3 rounded-lg my-4">
                    <div class="flex align-items-center" style="gap: 2rem">
                        <img src="/assets/images/icon_co2.png" class="h-10">
                        <div>
                            <h4 class="mb-0 font-weight-bold">9.17 KG</h4>
                            <p class="text-xs">CO₂ Reduction</p>
                        </div>
                    </div>
                </div>
                <div class="bg-grey p-3 rounded-lg">
                    <div class="flex align-items-center" style="gap: 2rem">
                        <img src="/assets/images/icon_coal.png" class="h-10">
                        <div>
                            <h4 class="mb-0 font-weight-bold">9.03 KG</h4>
                            <p class="text-xs">Coal Saving</p>
                        </div>
                    </div>
                </div>
                <div class="bg-grey p-3 rounded-lg my-4">
                    <div class="flex align-items-center" style="gap: 2rem">
                        <img src="/assets/images/icon_co2.png" class="h-10">
                        <div>
                            <h4 class="mb-0 font-weight-bold">9.17 KG</h4>
                            <p class="text-xs">CO₂ Reduction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
import Datepicker from 'vue3-datepicker'
export default {
    name: 'ChiomaConsumptionChart',
    components: {
        Datepicker,
        apexchart: VueApexCharts,
    },
    data: function() {
        return {
            event_date: new Date(),
            lower_limit: new Date(
                new Date().getFullYear(),
                new Date().getMonth() - 1,
                new Date().getDate(),
            ),
            upper_limit: new Date(
                new Date().getFullYear(),
                new Date().getMonth(),
                new Date().getDate(),
            ),
            series: [{
                    name: 'Sollar PV',
                    data: [45, 52, 38, 24, 33, 26, 21, 20, 6, 8, 15, 10],
                },
                {
                    name: 'Battery',
                    data: [35, 41, 62, 42, 13, 18, 29, 37, 36, 51, 32, 35],
                },
                {
                    name: 'Grid',
                    data: [87, 57, 74, 99, 75, 38, 62, 47, 82, 56, 45, 47],
                },
                {
                    name: 'Consumption',
                    data: [0, 12, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                },
            ],
            chartOptions: {
                chart: {
                    height: 350,
                    type: 'area',
                    zoom: {
                        enabled: false,
                    },
                },
                dataLabels: {
                    enabled: false,
                },
                stroke: {
                    width: [2, 2, 2, 2],
                    curve: 'straight',
                    dashArray: [2, 2, 2, 2],
                },
                title: {
                    text: 'Day',
                    align: 'left',
                    class: 'bg-success',
                },
                legend: {
                    tooltipHoverFormatter: function(val, opts) {
                        return (
                            val +
                            ' - ' +
                            opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] +
                            ''
                        )
                    },
                },
                markers: {
                    size: 0,
                    hover: {
                        sizeOffset: 6,
                    },
                },
                xaxis: {
                    categories: [
                        '00 - 02',
                        '02 - 04',
                        '04 - 06',
                        '06 - 08',
                        '08 - 10',
                        '10 - 12',
                        '12 - 14',
                        '14 - 16',
                        '16 - 18',
                        '18 - 20',
                        '20 -22',
                        '22 -24',
                    ],
                },
                tooltip: {
                    y: [{
                            title: {
                                formatter: function(val) {
                                    return val + ' (mins)'
                                },
                            },
                        },
                        {
                            title: {
                                formatter: function(val) {
                                    return val + ' per session'
                                },
                            },
                        },
                        {
                            title: {
                                formatter: function(val) {
                                    return val
                                },
                            },
                        },
                        {
                            title: {
                                formatter: function(val) {
                                    return val
                                },
                            },
                        },
                    ],
                },
                grid: {
                    borderColor: '#f1f1f1',
                },
                fill: {
                    type: "gradient",
                    gradient: {
                        shadeIntensity: 1,
                        opacityFrom: 0.7,
                        opacityTo: 0.7,
                        stops: [0, 90, 100]
                    }
                },
                dropShadow: {
                    enabled: true,
                    top: 0,
                    left: 0,
                    blur: 3,
                    opacity: 0.5
                },
            },
        }
    },
    created() {
        this.$nextTick(() => {
            window.dispatchEvent(new Event('resize'))
        })
    },
    methods: {
        fakeDatafetch() {},
        selectChange() {
            this.fakeDatafetch()
        },
    },
}

</script>

<style scoped>
.bg-grey {
    background-color: #f5f5f5;
}

.v3dp__elements[data-v-2e128338] button.selected span {
    background-color: #dd6b20;
    color: var(--elem-selected-color);
}

.v3dp__elements[data-v-2e128338] button.hover span {
    background-color: #dd6b20;
    color: var(--elem-selected-color);
}

</style>
