<template>
  <div class="mt-5">
    <div class="flex justify-between mx-0 ">
      <div class="my-3">
        <h6 class="font-weight-bold">Energy Overview</h6>
      </div>
      <div class="my-3">
        <div class="w-5/5 mb-0">
          <datepicker
            :change="selectChange()"
            v-model="event_date"
            class="border-0 inherit form-control bg-success shadow"
            placeholder="Date of Birth"
            type="date"
            :format="'dd-MM-YYYY'"
            :upperLimit="upper_limit"
            :lowerLimit="lower_limit"
          />
          <span><i class="fa fa-caret"></i></span>
        </div>
      </div>
    </div>
    <div class="row g-2 mx-0 ">
      <div class="col-md-12">
        <div id="chart2">
          <apexchart
            type="bar"
            height="350"
            :options="chartOptions"
            :series="series"
          ></apexchart>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
import Datepicker from 'vue3-datepicker'
export default {
  name: 'ChiomaEnergyOverview',
  components: {
    Datepicker,
    apexchart: VueApexCharts,
  },
  data: function () {
    return {
      event_date: new Date(),
      lower_limit: new Date(
        new Date().getFullYear(),
        new Date().getMonth() - 1,
        new Date().getDate(),
      ),
      upper_limit: new Date(
        new Date().getFullYear(),
        new Date().getMonth(),
        new Date().getDate(),
      ),
      series: [
        {
          name: 'Solar Production',
          data: [
            0, 0, 0, 0, 61, 58, 63, 60, 66, 57, 56, 61, 58, 63, 60, 66, 57, 56,
            61, 58, 63, 60, 66, 0, 0, 0, 0, 0, 0, 0,
          ],
        },
        {
          name: 'Battery',
          data: [
            0, 0, 0, 0, 76, 85, 101, 98, 87, 105, 91, 114, 94, 61, 58, 63, 60,
            66, 57, 56, 76, 85, 101, 98, 87, 0, 0, 0, 0, 0, 0, 0,
          ],
        },
        {
          name: 'Export to Grid',
          data: [35, 41, 36, 26, 45, 48, 52, 53, 41],
          data: [
            0, 0, 0, 0, 35, 41, 36, 26, 45, 48, 52, 53, 41, 35, 41, 36, 26, 45,
            48, 52, 53, 41, 76, 85, 101, 98, 87, 0, 0, 0, 0, 0, 0, 0,
          ],
        },
        {
          name: 'Consumption',
          data: [
            0, 0, 0, 0, 35, 41, 36, 26, 45, 48, 52, 53, 41, 35, 41, 36, 26, 45,
            48, 52, 53, 41, 76, 85, 101, 98, 87, 0, 0, 0, 0, 0, 0, 0,
          ],
        },
      ],

      chartOptions: {
        chart: {
          type: 'bar',
          height: 350,
        },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '65%',
            endingShape: 'rounded',
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          show: true,
          width: 2,
          colors: ['transparent'],
        },
        xaxis: {
          categories: [
            1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
            20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
          ],
          title: {
            text: 'Period (Days)',
          },
        },
        yaxis: {
          title: {
            text: 'Energy(kWh)',
          },
        },
        fill: {
          opacity: 1,
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return '' + val + ' kWh'
            },
          },
        },
        legend: {
          show: true,
          // position: 'top',
          horizontalAlign: 'left',
          markers: {
            width: 12,
            height: 12,
            strokeWidth: 0,
            strokeColor: '#fff',
            fillColors: undefined,
            radius: 12,
            customHTML: undefined,
            onClick: undefined,
            offsetX: 0,
            offsetY: 0,
          },
        },
        colors: [
          'rgb(112, 173, 70)',
          'rgb(90, 155, 213)',
          'rgb(246, 104, 103)',
          'rgb(255, 164, 97)',
        ],
      },
    }
  },
  mounted: function () {
    this.$nextTick(() => {
      window.dispatchEvent(new Event('resize'))
    })
  },
  methods: {
    fakeDatafetch() {},
    selectChange() {
      this.fakeDatafetch()
    },
  },
}
</script>

<style scoped>
.bg-grey {
  background-color: #f5f5f5;
}
.v3dp__elements[data-v-2e128338] button.selected span {
  background-color: #dd6b20;
  color: var(--elem-selected-color);
}

.v3dp__elements[data-v-2e128338] button.hover span {
  background-color: #dd6b20;
  color: var(--elem-selected-color);
}
</style>
