<template>
    <!-- Actions -->
    <div class="card lg:flex p-4 mb-10">
        <h2 class="text-xl leading-tight">STATIONS</h2>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <form class="w-2/3 items-center mt-0" action="#">
                <label class="form-control-addon-within  rounded-full overflow-hidden">
                    <input type="text" class="form-control border-none" placeholder="Search">
                    <span class="flex items-center pr-4"><button type="button" class="dark:text-gray-700 dark:hover:text-primary text-secondary hover:text-primary btn btn-link la la-search text-2xl leading-none"></button></span>
                </label>
            </form>
            <div class="w-1/3  mt-0">
                <div class=" ml-2">
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class=" md:flex">Create</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Column -->
    <div class="card" v-if="isFetched">

        <table class="table table_bordered mt-3 w-full">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Reference</th>
                    <th>Address</th>
                    <th>Merchant </th>
                    <th>Capacity</th>
                    <th>Cordinates</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(block, index) in blocks">
                    <td>{{ ++index }}</td>
                    <td>{{block.name}}</td>
                    <td>{{block.reference}}</td>
                    <td>{{block.address }}</td>
                    <td>{{ block.merchant_id }}</td>
                    <td>{{block.capacity}}</td>
                    <td>{{block.latitude}}, {{block.longitude}}</td>
                    <td>{{block.createdAt}}</td>
                    <td class="text-right whitespace-no-wrap">
                    <div class="inline-flex ml-auto">
                            <a href="#" @click.prevent="gotoStation(block)" class="btn text-sm h-5 btn-icon btn_outlined btn_secondary"><span class="la la-eye"></span></a>
                            <a href="#" class="btn text-sm h-5 btn-icon btn_outlined btn_danger ml-2"><span class="la la-trash-alt"></span></a>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
    <ContentPlaceHolder class="card" v-else></ContentPlaceHolder>

    <!-- Pagination -->
    <div class="card lg:flex mt-5">
        <nav class="flex flex-wrap p-5">
            <a href="#" class="btn mr-2 mb-2 lg:mb-0 btn_primary">Previous</a>

            <a href="#" class="btn mr-2 mb-2 lg:mb-0 btn_secondary">Next</a>
        </nav>
        <div class="flex items-center ml-auto p-5 border-t lg:border-t-0 border-gray-200 dark:border-gray-900">
            <!-- Displaying 1-5 of 100 items -->
        </div>
        <div class="flex items-center p-5 border-t lg:border-t-0 lg:border-l border-gray-200 dark:border-gray-900">
            <span class="ml-2">items</span>
        </div>
    </div>
    <CustomScriptLoader></CustomScriptLoader>

    <!-- Scrollable modal-->
    <div  v-if="showCreateDeviceModal" >
        <div class="fixed z-10 inset-0 overflow-y-auto " aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                <div  class="relative inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full top-12">

                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 modal-header">
                        <div class="flex justify-between items-center space-x-5">
                            <div class="flex items-center space-x-5">
                                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full  sm:mx-0 sm:h-10 sm:w-10" style="background: whitesmoke">
                                <i class="text-lg la la-briefcase"></i>
                                </div>
                                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Create Device</h3>
                            </div>

                            <button type="button" class="close" @click="showCreateDeviceModal = false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    
                    <form class="mt-5" @submit.prevent="createDevice">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 modal-body  overflow-y-auto" style="max-height: 300px;">
                        <div class="">
                           
                                <div class="form-group mt-2">
                                    <label class="label block mb-2" for="input">Imie</label>
                                    <input type="text" required class="form-control" id="input" v-model="device.imei" placeholder="Enter Imie here">
                                </div>

                                <div class="custom-select mt-4">
                                    <label class="label block mb-2" for="input">Device Type</label>
                                    <select class="form-control" required v-model="device.device_type">
                                        <option v-for="type in device_types" :value="type.id">{{type.name}}</option>
                                    </select>
                                    <div class="select-icon la la-caret-down mt-5"></div>
                                </div>
                               
                                <div class="form-group mt-4">
                                    <label class="label block mb-2" for="input">Address</label>
                                    <input type="text" required="required" class="form-control" id="input"  v-model="device.address" placeholder="Enter Address here">
                                </div>
                                <div class="custom-select mt-4">
                                    <label class="label block mb-2" for="input">Station</label>
                                    <select class="form-control" required v-model="device.block_reference">
                                        <option v-for="block in blocks" :value="block.reference">{{block.name}}</option>
                                    </select>
                                    <div class="select-icon la la-caret-down mt-5"></div>
                                </div>
                                <div class="form-group mt-4">
                                    <label class="label block mb-2" for="input">Cordinates</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-group-item"  v-model="device.longitude" placeholder="Logintude">
                                        <input type="text" class="form-control input-group-item"  v-model="device.latitude" placeholder="Latitude">
                                    </div>
                                </div>

                                <div class="form-group mt-4" v-if="device.device_type == 2">
                                    <label class="label block mb-2" for="input">Size</label>
                                    <input type="text" class="form-control" id="input"  v-model="device.size" placeholder="Enter Size here">
                                </div>

                                <div class="form-group mt-4" v-if="device.device_type == 1">
                                    <label class="label block mb-2" for="input">Billing Type</label>
                                    <input type="text" class="form-control" id="input"  v-model="device.billing_type" placeholder="Enter Billing here">
                                </div>

                                 <div class="form-group mt-4" v-if="device.device_type == 6">
                                    <label class="label block mb-2" for="input">Number of Slaves</label>
                                    <input type="text" class="form-control" id="input"  v-model="device.number_of_slaves" placeholder="Enter Billing here">
                                </div>
                           
                        </div>
                    </div>

                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse modal-footer">
                        <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-600 text-base font-medium text-white hover:bg-gray-400  sm:ml-3 sm:w-auto sm:text-sm">Save</button>
                    </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</template>

<route lang="yaml">
    meta:
        layout: dashboard
        middleware: []
        requiresAuth: true
</route>

<script>
import { useMeta } from 'vue-meta'
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { useStore, mapGetters, mapActions, mapState } from 'vuex'
export default {
    name: 'Stations',
    setup() {
        const store = useStore();
        const router = useRouter()
        useMeta({
            title: 'Stations',
        })
        let blocks = computed(() => store.getters['block/getBlocks'])
        return {
            store,
            router,
            blocks,
            ...mapActions('block', ['fetchBlocks', 'storeBlock'])
        }
    },

    data() {
        return {
            isFetched: false,
            showCreateDeviceModal: false,
            device: {}
        }
    },
    async created() {
        this.fetchBlocks().then((res)=>{
             this.isFetched = true
        })
    },

    methods: {
        async createBlock(){
            await this.storeDevice(this.device)
            .then((res) =>{

            })
        },

        gotoStation(station) {
            this.$router.push({
                name: 'stations-reference',
                params: { reference: station.reference },
            })
        },

    }
};

</script>
<style scoped >
    .indicator{

    }
    .offline-indicator{
        border:  1px solid #ff7e00;
        color: #ff7e00;
    }

    .online-indicator{
        border: 1px solid #4caf5057;
        color: #4caf50b3;
    }
</style>