<template>
    <!-- Actions -->
    <div class="card lg:flex p-4 mb-5">
        <button class="" @click="$router.back()">
            <span class="text-bold"><i class="la la-undo"></i>Back</span>
        </button>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <!-- <h2 class="text-xl text-center leading-tight">242423449</h2> -->
        </div>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <div class="w-1/3  mt-0">
                <div class=" flex ml-2">
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class="text-xs">Maitain</p>
                    </button>
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class="text-xs">Configure</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Column -->
    <div class="card" v-if="isFetched">

        <table class="table table_bordered mt-3 w-full">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Reference</th>
                    <th>Address</th>
                    <th>Merchant </th>
                    <th>Capacity</th>
                    <th>Cordinates</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <ContentPlaceHolder class="card" v-else></ContentPlaceHolder>

</template>

<route lang="yaml">
    meta:
        layout: dashboard
</route>

<script>
import { useMeta } from 'vue-meta'
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { useStore, mapGetters, mapActions, mapState } from 'vuex'
export default {
    setup() {
        const store = useStore();
        const router = useRouter()
        useMeta({
            title: 'Station',
        })
        let blocks = computed(() => store.getters['block/getBlocks'])
        return {
            store,
            router,
            blocks,
            ...mapActions('block', ['fetchBlocks', 'storeBlock'])
        }
    },
    data() {
        return {
            isFetched: false,
            showCreateDeviceModal: false,
            device: {}
        }
    },
    async created() {
        this.fetchBlocks().then((res) => {
            this.isFetched = true
        })
    },
    methods: {
        async createBlock() {
            await this.storeDevice(this.device)
                .then((res) => {})
        },
        gotoStation(station) {
            this.$router.push({
                name: 'stations-reference',
                params: { reference: station.reference },
            })
        },
    }
}

</script>
