<template>
    <!-- Actions -->
    <div class="card lg:flex p-4 mb-10">
        <h2 class="text-xl leading-tight">Devices</h2>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <form class="w-2/3 items-center mt-0" action="#">
                <label class="form-control-addon-within  rounded-full overflow-hidden">
                    <input type="text" class="form-control border-none" placeholder="Search">
                    <span class="flex items-center pr-4"><button type="button" class="dark:text-gray-700 dark:hover:text-primary text-secondary hover:text-primary btn btn-link la la-search text-2xl leading-none"></button></span>
                </label>
            </form>
            <div class="w-1/3  mt-0">
                <div class=" ml-2">
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class=" md:flex">Create</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Column -->
    <div class="w-full py-10" v-if="isFetched">
        <DataTable 
            class="display table table-bordered table-responsive  table-striped w-full"
            :options="{select: true}"
            v-if="devices.length > 0">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Imei</th>
                    <th>Type</th>
                    <th>Create At</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                <tr class="cursor-pointer" v-for="(device, index) in devices"  @click="gotoDevice(device)">
                    <td>{{++index}}</td>
                    <td>{{device.imei}}</td>
                    <td>{{device.name}}</td>
                    <td>{{device.created_at}}</td>
                    <td><span class="text-red-300 online-indicator rounded-lg p-1 px-2 ">Online</span></td>
                </tr>
            </tbody>
        </DataTable>
        <h1 v-else class="text-center my-10">Record not found</h1>

    </div>
    <ContentPlaceHolder class="card" v-else></ContentPlaceHolder>

    <!-- Pagination -->
    <!-- <div class="card lg:flex mt-5">
        <nav class="flex flex-wrap p-5">
            <a href="#" class="btn mr-2 mb-2 lg:mb-0 btn_primary">Previous</a>

            <a href="#" class="btn mr-2 mb-2 lg:mb-0 btn_secondary">Next</a>
        </nav>
        <div class="flex items-center ml-auto p-5 border-t lg:border-t-0 border-gray-200 dark:border-gray-900">
        </div>
        <div class="flex items-center p-5 border-t lg:border-t-0 lg:border-l border-gray-200 dark:border-gray-900">
            <span class="ml-2">items</span>
        </div> -->
    <!-- </div> -->
    <CustomScriptLoader></CustomScriptLoader>

    <!-- Scrollable modal-->
    <div  v-if="showCreateDeviceModal" >
        <div class="fixed z-10 inset-0 overflow-y-auto " aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                <div  class="relative inline-block align-bottom rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full top-12" style="background: #242526;">

                    <div class=" px-4 pt-5 pb-4 sm:p-6 sm:pb-4 modal-header">
                        <div class="flex justify-between items-center space-x-5">
                            <div class="flex items-center space-x-5">
                                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full  sm:mx-0 sm:h-10 sm:w-10" style="background: whitesmoke">
                                <i class="text-lg la la-briefcase"></i>
                                </div>
                                <h3 class="text-lg leading-6 font-medium " id="modal-title">Create Device</h3>
                            </div>

                            <button type="button" class="close" @click="showCreateDeviceModal = false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    
                    <form class="mt-5" @submit.prevent="addToDeviceList">
                    <div class=" px-4 pt-5 pb-4 sm:p-6 sm:pb-4 modal-body  overflow-y-auto" style="max-height: 300px;">
                        <div class="">
                           
                                <div class="form-group mt-2">
                                    <label class="label block mb-2" for="input">Imie</label>
                                    <input type="text" required class="form-control" id="input" v-model="device.imei" placeholder="Enter Imie here">
                                </div>

                                <div class="custom-select mt-4">
                                    <label class="label block mb-2" for="input">Device Type</label>
                                    <select class="form-control" required v-model="device.device_type">
                                        <option v-for="type in device_types" :value="type.id">{{type.name}}</option>
                                    </select>
                                    <div class="select-icon la la-caret-down mt-5"></div>
                                </div>
                               
                                <!-- <div class="form-group mt-4">
                                    <label class="label block mb-2" for="input">Address</label>
                                    <input type="text" required="required" class="form-control" id="input"  v-model="device.address" placeholder="Enter Address here">
                                </div> -->
                               <!--  <div class="custom-select mt-4">
                                    <label class="label block mb-2" for="input">Station</label>
                                    <select class="form-control" required v-model="device.block_reference">
                                        <option v-for="block in blocks" :value="block.reference">{{block.name}}</option>
                                    </select>
                                    <div class="select-icon la la-caret-down mt-5"></div>
                                </div> -->
                               <!--  <div class="form-group mt-4">
                                    <label class="label block mb-2" for="input">Cordinates</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control input-group-item"  v-model="device.longitude" placeholder="Logintude">
                                        <input type="text" class="form-control input-group-item"  v-model="device.latitude" placeholder="Latitude">
                                    </div>
                                </div> -->

                               <!--  <div class="form-group mt-4" v-if="device.device_type == 2">
                                    <label class="label block mb-2" for="input">Size</label>
                                    <input type="text" class="form-control" id="input"  v-model="device.size" placeholder="Enter Size here">
                                </div> -->

                               <!--  <div class="form-group mt-4" v-if="device.device_type == 1">
                                    <label class="label block mb-2" for="input">Billing Type</label>
                                    <input type="text" class="form-control" id="input"  v-model="device.billing_type" placeholder="Enter Billing here">
                                </div>

                                 <div class="form-group mt-4" v-if="device.device_type == 6">
                                    <label class="label block mb-2" for="input">Number of Slaves</label>
                                    <input type="text" class="form-control" id="input"  v-model="device.number_of_slaves" placeholder="Enter Billing here">
                                </div> -->
                           
                        </div>
                    </div>

                    <div class=" px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse modal-footer">
                        <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-600 text-base font-medium text-white hover:bg-gray-400  sm:ml-3 sm:w-auto sm:text-sm">Save</button>
                    </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</template>

<route lang="yaml">
    meta:
        layout: dashboard
        middleware: []
        requiresAuth: true
</route>

<script>
import DataTable from 'datatables.net-vue3';
import { useMeta } from 'vue-meta'
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { useStore, mapGetters, mapActions, mapState } from 'vuex'
export default {
    name: 'Devices',
    components: {DataTable},
    setup() {
        const store = useStore();
        const router = useRouter()
        useMeta({
            title: 'Devices',
        })
        let devices = computed(() => store.getters['device/devices'])
        return {
            store,
            router,
            devices,
            ...mapActions('device', ['fetchDevices', 'storeDevice']),
            ...mapActions('deviceadmin', ['addToDeviceList'])
        }
    },

    data() {
        return {
            isFetched: false,
            showCreateDeviceModal: false,
            device: {},
            device_types: [
                {id: 1, name: 'Prepaid Meter'},
                {id: 2, name: 'Kike Gas'},
                {id: 3, name: 'SmartHome'},
                {id: 4, name: 'Genstarter'},
                {id: 5, name: 'AutoBidder'},
                {id: 6, name: 'Gateway'},
                {id: 7, name: 'Inverter'},
            ],
            blocks: [
                {reference: 1923408298, name: 'Leki Phase 2'},
                {reference: 2676423784, name: 'Dr. Jubril'},
                {reference: 3234208490, name: 'Ikeja Office'},
                {reference: 4498230998, name: 'MITV Station'},
                {reference: 5873287489, name: 'Sango Glo Mask'},
                {reference: 6298490289, name: 'Denis Ojo'},
                {reference: 7923498908, name: 'MTN Mask - Ilesha'},
            ]
        }
    },
    async created() {
        // await this.fetchDevices()
        //     .then((res) => {
        //         this.isFetched = true
        //     })
        //     .catch((err) => {})
        this.isFetched = true
    },

    methods: {
        async createDevice(){
            await this.storeDevice(this.device)
            .then((res) =>{
                this.showCreateDeviceModal = false
                this.device = {}
                this.$notify({
                    group: "success",
                    title: 'Success',
                    text: 'Device added successfully'
                }, 8000)

            })
        },
        
        async addToDeviceList(){
            await this.addToDeviceList(this.device)
            .then((res) =>{
                this.showCreateDeviceModal = false
                this.device = {}
                this.$notify({
                    group: "success",
                    title: 'Success',
                    text: 'Device added successfully'
                }, 8000)

            })
        },

        gotoDevice(device) {
            console.log(device)
          if (device.device_type == 1 || device.device_type == 6) {
            this.$router.push({
              name: 'devices-chioma-imei',
              params: { imei: device.imei },
            })
          }

          if (device.device_type == 2) {
            this.$router.push({
              name: 'devices-kike-imei',
              params: { imei: device.imei },
            })
          }
          if (device.device_type == 8) {
            this.$router.push({
              name: 'devices-autogen-imei',
              params: { imei: device.imei },
            })
          }
        },

    }
};

</script>
<style >

@import 'datatables.net-bs5';  

    #DataTables_Table_0_paginate .paginate_button {
        padding: 10px;
        border: solid 2px whitesmoke;
        cursor: pointer;
    }
    .indicator{

    }
    .offline-indicator{
        border:  1px solid #ff7e00;
        color: #ff7e00;
    }

    .online-indicator{
        border: 1px solid #4caf5057;
        color: #4caf50b3;
    }
</style>
