<template>
    <!-- Actions -->
    <div class="card lg:flex p-4 mb-10">
        <h2 class="text-xl leading-tight">DEVICE TYPES</h2>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <form class="w-2/3 items-center mt-0" action="#">
                <label class="form-control-addon-within  rounded-full overflow-hidden">
                    <input type="text" class="form-control border-none" placeholder="Search">
                    <span class="flex items-center pr-4"><button type="button" class="dark:text-gray-700 dark:hover:text-primary text-secondary hover:text-primary btn btn-link la la-search text-2xl leading-none"></button></span>
                </label>
            </form>
            <div class="w-1/3  mt-0">
                <div class=" ml-2">
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceTypeModal = true">
                        <p class=" md:flex">Create</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Card Column -->
    <div class="card" v-if="isFetched">

        <table class="table table_bordered mt-3 w-full">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(type, index) in deviceTypes">
                    <td>{{ ++index }}</td>
                    <td>{{type.name}}</td>
                    <td>{{type.description}}</td>
                 
                    <td class="text-right whitespace-no-wrap">
                    <div class="inline-flex ml-auto">
                            <a href="#" @click.prevent="gotoStation(type)" class="btn text-sm h-5 btn-icon btn_outlined btn_secondary"><span class="la la-eye"></span></a>
                            <a href="#" class="btn text-sm h-5 btn-icon btn_outlined btn_danger ml-2"><span class="la la-trash-alt"></span></a>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
    <ContentPlaceHolder class="card" v-else></ContentPlaceHolder>

    <!-- Pagination -->
    <div class="card lg:flex mt-5">
        <nav class="flex flex-wrap p-5">
            <a href="#" class="btn mr-2 mb-2 lg:mb-0 btn_primary">Previous</a>

            <a href="#" class="btn mr-2 mb-2 lg:mb-0 btn_secondary">Next</a>
        </nav>
        <div class="flex items-center ml-auto p-5 border-t lg:border-t-0 border-gray-200 dark:border-gray-900">
            <!-- Displaying 1-5 of 100 items -->
        </div>
        <div class="flex items-center p-5 border-t lg:border-t-0 lg:border-l border-gray-200 dark:border-gray-900">
            <span class="ml-2">items</span>
        </div>
    </div>
    <CustomScriptLoader></CustomScriptLoader>

    <!-- Scrollable modal-->
    <div  v-if="showCreateDeviceTypeModal" >
        <div class="fixed z-10 inset-0 overflow-y-auto " aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center relative top-20 pt-4 px-4 pb-20 text-center sm:type sm:p-0">
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-type sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                <div  class="relative inline-type align-bottom  rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full top-12" style="background: #242526;">

                    <div class=" px-4 pt-5 pb-4 sm:p-6 sm:pb-4 modal-header">
                        <div class="flex justify-between items-center space-x-5">
                            <div class="flex items-center space-x-5">
                                <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full  sm:mx-0 sm:h-10 sm:w-10" style="background: whitesmoke">
                                <i class="text-lg la la-briefcase"></i>
                                </div>
                                <h3 class="text-lg leading-6 font-medium " id="modal-title">Create Device</h3>
                            </div>

                            <button type="button" class="close" @click="showCreateDeviceTypeModal = false">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    
                    <form class="mt-5" @submit.prevent="createDeviceType">
                    <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4 modal-body  overflow-y-auto" style="">
                        <div class="">
                           
                                <div class="form-group mt-2">
                                    <label class="label type mb-2" for="input">Name</label>
                                    <input type="text" required class="form-control" id="input" v-model="deviceType.name" placeholder="Device type name">
                                </div>


                                <div class="form-group mt-4">
                                    <label class="label type mb-2" for="input">Description</label>
                                    <input type="text" required="required" class="form-control" id="input"  v-model="deviceType.description" placeholder="Enter description here">
                                </div>
                           
                        </div>
                    </div>

                    <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse modal-footer">
                        <button  type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-600 text-base font-medium text-white hover:bg-gray-400  sm:ml-3 sm:w-auto sm:text-sm">Save</button>
                    </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</template>

<route lang="yaml">
    meta:
        layout: dashboard
        middleware: []
        requiresAuth: true
</route>

<script>
import { useMeta } from 'vue-meta'
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import { useStore, mapGetters, mapActions, mapState } from 'vuex'
export default {
    name: 'Stations',
    setup() {
        const store = useStore();
        const router = useRouter()
        useMeta({
            title: 'Device Types',
        })
        let deviceTypes = computed(() => store.getters['device/deviceTypes'])
        return {
            store,
            router,
            deviceTypes,
            ...mapActions('device', ['fetchDeviceTypes', 'storeDeviceType'])
        }
    },

    data() {
        return {
            isFetched: false,
            showCreateDeviceTypeModal: false,
            deviceType: {}
        }
    },
    async created() {
        this.fetchDeviceTypes().then((res)=>{
             this.isFetched = true
        })
    },

    methods: {
        async createDeviceType(){
            await this.storeDeviceType(this.deviceType)
            .then((res) =>{
                this.showCreateDeviceTypeModal = false
                this.deviceType = {}
                this.$notify({
                    group: "success",
                    title: 'Success',
                    text: 'Device type added successfully'
                }, 8000)
            })
        },

        gotoDeviceType(deviceType) {
            this.$router.push({
                name: 'stations-reference',
                params: { reference: deviceType.id },
            })
        },

    }
};

</script>
<style scoped >
    .indicator{

    }
    .offline-indicator{
        border:  1px solid #ff7e00;
        color: #ff7e00;
    }

    .online-indicator{
        border: 1px solid #4caf5057;
        color: #4caf50b3;
    }
</style>