.table thead {
    color: rgba(85, 85, 85, var(--tw-bg-opacity));
}

.btn_primary {
    background-color: #ff7e00;
}

.btn_primary:hover:not([disabled]) {
    background-color: rgba(85, 85, 85, var(--tw-bg-opacity));
}

.btn_secondary:hover:not([disabled]) {
    background-color: #ff7e00;
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgba(85, 85, 85, var(--tw-bg-opacity));
}



@media (min-width:768px) {
    .top-bar {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}



.top-bar .brand {
  
    font-size: 1rem;

}