<template>
  <div class="md:flex md:space-x-4 space-y-4">
    <div class="w-full lg:w-2/3 p-3 bg-white">
      <div class="text-xl font-bold leading-10">Usage</div>
      <apexcharted
        ref="apexcharted"
        type="line"
        height="450"
        :options="chartOptions"
        :series="series"
      ></apexcharted>
    </div>

    <div class="w-full lg:w-1/3 p-10 bg-white rounded-lg">
      <div class="text-xl font-bold leading-10">Device Info</div>
      <div class="mt-4 w-full">
        <p class="text-base font-bold leading-tight text-gray-800">
          Commulative FLow
        </p>
        <input
          type="text"
          :value="deviceData.cummulative_flow"
          class="w-full py-2 px-4 border rounded-lg border-gray-800"
          placeholder="00"
          name=""
        />
      </div>

      <div class="mt-4 w-full">
        <p class="text-base font-bold leading-tight text-gray-800">
          Total Purchase
        </p>
        <input
          type="text"
          :value="deviceData.total_purchase"
          class="w-full py-2 px-4 border rounded-lg border-gray-800"
          placeholder="00"
          name=""
        />
      </div>
      <div class="mt-4 w-full">
        <p class="text-base font-bold leading-tight text-gray-800">
          Cost Per Cm3
        </p>
        <input
          type="text"
          :value="deviceData.cost_per_m3"
          class="w-full py-2 px-4 border rounded-lg border-gray-800"
          placeholder="00"
          name=""
        />
      </div>
      <div class="mt-4 w-full">
        <p class="text-base font-bold leading-tight text-gray-800">
          Available Unit
        </p>
        <input
          type="text"
          :value="deviceData.available_unit"
          class="w-full py-2 px-4 border rounded-lg border-gray-800"
          placeholder="00"
          name=""
        />
      </div>
      <button
        @click="getDeviceData(device.imei)"
        class="flex items-end w-full justify-center px-16 mt-4 bg-tertiary rounded-lg"
      >
        <span class="py-2 text-base font-bold leading-tight text-white"
          >Refresh</span
        >
        <div class="hollow-spinner">
          <HollowSpinner
            class=""
            v-if="isLoading"
            :animation-duration="700"
            :dot-size="8"
            :dots-num="3"
            color="black"
          />
        </div>
      </button>
    </div>
  </div>
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'
import { mapState, mapActions } from 'vuex'
import HollowSpinner from '@/components/HollowSpinner'

export default {
  name: 'KikeUsageChart',
  props: ['device'],
  components: {
    apexcharted: VueApexCharts,
    HollowSpinner,
  },
  data() {
    return {
      deviceData: {},
      isLoading: false,
      series: [
        {
          name: 'Usage',
          data: [20, 12, 12, 9, 9, 9, 5, 5, 5, 9, 9, 10],
        },
      ],
      chartOptions: {
        chart: {
          height: 100,
          type: 'line',
          zoom: {
            enabled: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          width: [2, 2, 2, 2],
          curve: 'stepline',
          dashArray: [0, 0, 0, 0],
          colors: ['#089A20', '#FF7E00'],
        },
        title: {
          text: '',
          align: 'left',
        },
        legend: {
          position: 'top',
          tooltipHoverFormatter: function (val, opts) {
            return (
              val +
              ' - ' +
              opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] +
              ''
            )
          },
        },
        markers: {
          size: 0,
          hover: {
            sizeOffset: 6,
          },
        },
        xaxis: {
          categories: [
            '08.00',
            '09.00',
            '10.00',
            '11.00',
            '12.00',
            '13.00',
            '14.00',
            '15.00',
            '16.00',
            '17.00',
            '18.00',
            '19.00',
          ],
        },
        tooltip: {
          y: [
            {
              title: {
                formatter: function (val) {
                  return val + ' (mins)'
                },
              },
            },
            {
              title: {
                formatter: function (val) {
                  return val + ' per session'
                },
              },
            },
            {
              title: {
                formatter: function (val) {
                  return val
                },
              },
            },
          ],
        },
        grid: {
          borderColor: '#f1f1f1',
        },
      },
    }
  },
  methods: {
    ...mapActions('dashboard', [
      'fetchDeviceConsumptionData',
      'fetchDeviceData',
    ]),
    async getDeviceData(imei) {
      this.deviceData = {}
      this.isLoading = true
      await this.fetchDeviceData(imei).then((res) => {
        this.deviceData = JSON.parse(res.data)
        this.isLoading = false
      })
      this.$refs.apexcharted.refresh()
    },
  },
  async mounted() {
    await this.fetchDeviceData(this.device.imei).then((res) => {
      this.deviceData = JSON.parse(res.data)
    })

    // listen to chioma data event
    this.$socket.on('data', (data) => {
      if (data.device && data.device.imei === this.device.imei) {
        this.deviceData = JSON.parse(data.device.data)
      }
    })
  },
}
</script>

<style scoped></style>
