<template>

  <div class="my-3 w-full">
    <h6 class="font-weight-bold">Realtime Data</h6>
  </div>
  <div class="w-full justify-between  flex">
    
    <div class="w-2/3 justify-center flex">
      <!-- grid -->
      <div class="self-center">
          <img
            style="width: 300px;"
            v-bind:src="`/assets/images/kike/usage/${levelSvg}.svg`"
            alt="image not found"
            class="group-379"
          />
      </div>
    </div>

    <div class="w-1/3 flex flex-col justify-between items-center">
      <!-- solar -->
      <div style="" class="solar">
        <div class="flex items-center">
          <div class="mr-2 w-full">
              <img src="/assets/images/panel.png" alt="" style="height: 50px" />
          </div>
          <div class="w-full">
            <div class="flex justify-between">
              <small class="col text-muted">PV1</small>
              <p class="text-xs">
                {{ blockData.ppv1 }}W
              </p>
              <p class="text-xs">
                {{ blockData.vpv1 }}V
              </p>
            </div>
            <div class="flex justify-between">
              <small class="col text-muted">PV2</small>
              <p class="text-xs">
                {{ blockData.ppv2 }}W
              </p>
              <p class="text-xs">
                {{ blockData.vpv2 }}V
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Controle SYSTem -->
      <div  class="flex flex-col justify-center items-center mr-12">
        <div class="">
          <img src="/assets/images/_arrow_down.gif"/>
        </div>

      

        <div class="flex items-center relative right-28">
          <div class="flex">
            <img src="/assets/images/_arrow_left.gif" class="h-5" />
            <img src="/assets/images/_arrow_left.gif" class="h-5" />
            <img src="/assets/images/_arrow_left.gif" class="h-5" />
          </div>
          <img src="/assets/images/kike_chartt1.png" class="" alt="" style="height: 50px" />
        </div>
        
        <div class="">
          <img src="/assets/images/_arrow_down.gif"/>
        </div>
      </div>


      <!-- BATTERY -->
      <div style="" class="battery">
        <div class="flex items-center">
          <img
            src="/assets/images/battery2.png"
            alt=""
            style="height: 50px"
          />
          <div class="">
            <div class="flex justify-between">
              <small>Voltage</small>
              <p class="text-xs">
                {{ blockData.vbat }}V
              </p>
            </div>
            <div class="flex justify-between">
              <small>Level</small>
              <p class="text-xs">
                {{ inverterData.soc ? inverterData.soc : ' --- ' }}%
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import { mapState, mapGetters, mapActions } from 'vuex'
export default {
  name: 'KikeRealtime',
  props: [],
  components: {},
  data() {
    return {
      blockData: {},
      inverterData: {},
      chiomaData: {},
      consumptions: {},
      deviceData: {},
      device: {},
    }
  },
  computed: {
    ...mapState('dashboard', ['user_products', 'socket_auth']),
    levelSvg() {
      let level =
        ((this.deviceData.totalpurchase * 0.525) / this.deviceData.size) * 100

      if (level > 95) return '100'
      if (level > 85) return '90'
      if (level > 75) return '80'
      if (level > 65) return '70'
      if (level > 55) return '60'
      if (level > 45) return '50'
      if (level > 35) return '40'
      if (level > 25) return '30'
      if (level > 15) return '20'
      if (level > 5) return '10'
      if (level < 5) return '00'
      return '00'
    },
  },
  methods: {
    ...mapActions('device', ['fetchDevice']),
    ...mapActions('device', ['fetchDeviceConsumptionData']),
    kikeSwitch(event) {
      let value = event.target.checked
      if (value) {
        this.$socket.emit('data', {
          event: 'onn_device',
          key: this.socket_auth.key,
          imei: this.device.imei,
          token: this.$config.socketToken,
        })
      } else {
        this.$socket.emit('data', {
          event: 'off_device',
          key: this.socket_auth.key,
          imei: this.device.imei,
          token: this.$config.socketToken,
        })
      }
    },
  },
  async mounted() {
    await this.fetchDevice(this.device.imei).then((res) => {
      this.deviceData = JSON.parse(res.data)
    })

    // listen to chioma data event
    this.$socket.on('data', (data) => {
      if (data.device && data.device.imei === this.device.imei) {
        this.deviceData = JSON.parse(data.device.data)
      }
    })
    // fetch initial data from api
    await this.fetchDevice(this.chiomaDevice.imei).then((res) => {
      this.blockData = JSON.parse(res.block.data)
      this.inverterData = JSON.parse(res.inverter.data)
      this.chiomaData = JSON.parse(res.data)
    })

    setInterval(() => {
      this.$socket.emit('data', {
        event: 'device_detail',
        key: this.socket_auth.key,
        imei: this.chiomaDevice.imei,
        token: this.$config.socketToken,
      })
    }, 20000)

    // listen to chioma data event
    this.$socket.on('data', (data) => {
      if (data.device && data.device.imei === this.chiomaDevice.imei) {
        this.blockData = JSON.parse(data.device.block.data)
        this.inverterData = JSON.parse(data.device.inverter.data)
        this.chiomaData = JSON.parse(data.device.data)
      }

      // do extra check if need be
      if (
        data.device &&
        data.device.block &&
        data.device.block.reference == this.blockReference
      ) {
        this.blockData = JSON.parse(data.device.block.data)
      }
    })
  },
  async created() {
    await this.fetchDeviceConsumptionData({
      imei: this.device.imei,
      report_type: 1,
      year: 2022,
    }).then((res) => {
      this.consumptions = res
    })
  },
}
</script>

<style scoped>

</style>
