<template>
  <div class="row mt-2">
    <div class="flex flex-col space-x-24 px-24 pt-12 pb-4 bg-white rounded-lg">

      <div class="switch-toggle">
        <input @change="kikeSwitch($event)" type="checkbox" id="bluetooth" />
        <label for="bluetooth"></label>
      </div>

      <div class="relative self-center flex space-x-24">
        <div>
          <img
            v-bind:src="`/assets/images/kike/usage/${levelSvg}.svg`"
            alt="image not found"
            style="width: 300px"
            class="group-379"
          />
        </div>
      </div>


      <div class="flex justify-end px-24 pt-4 pb-4">
        <p class="text-xs mx-2 text-gray-400">Size: {{ deviceData.size }}Kg</p>
        <p class="text-xs text-gray-400">Density: 0.525kg/m3</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import axios from 'axios'

export default {
  name: 'KikeStats',
  // props: ['device'],
  data() {
    return {
      consumptions: {},
      deviceData: {},
      device: {}
    }
  },
  computed: {
    ...mapState('dashboard', ['socket_auth']),

    levelSvg() {
      let level =
        ((this.deviceData.totalpurchase * 0.525) / this.deviceData.size) * 100

      if (level > 95) return '100'
      if (level > 85) return '90'
      if (level > 75) return '80'
      if (level > 65) return '70'
      if (level > 55) return '60'
      if (level > 45) return '50'
      if (level > 35) return '40'
      if (level > 25) return '30'
      if (level > 15) return '20'
      if (level > 5) return '10'
      if (level < 5) return '00'
      return '00'
    },
  },
  async mounted() {
    await this.fetchDeviceData(this.device.imei).then((res) => {
      this.deviceData = JSON.parse(res.data)
    })

    // listen to chioma data event
    this.$socket.on('data', (data) => {
      if (data.device && data.device.imei === this.device.imei) {
        this.deviceData = JSON.parse(data.device.data)
      }
    })
  },
  async created() {
    await this.fetchDeviceConsumptionData({
      imei: this.device.imei,
      report_type: 1,
      year: 2022,
    }).then((res) => {
      this.consumptions = res
    })
  },
  methods: {
    ...mapActions('dashboard', [
      'fetchDeviceConsumptionData',
      'fetchDeviceData',
    ]),

    kikeSwitch(event) {
      let value = event.target.checked
      if (value) {
        this.$socket.emit('data', {
          event: 'onn_device',
          key: this.socket_auth.key,
          imei: this.device.imei,
          token: this.$config.socketToken,
        })
      } else {
        this.$socket.emit('data', {
          event: 'off_device',
          key: this.socket_auth.key,
          imei: this.device.imei,
          token: this.$config.socketToken,
        })
      }
    },
  },
}
</script>

<style scoped>
.switch-holder {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.7),
    10px 10px 10px rgba(0, 0, 0, 0.3),
    inset 8px 8px 15px rgba(255, 255, 255, 0.7),
    inset 10px 10px 10px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
}

.switch-label {
  width: 150px;
}

.switch-label i {
  margin-right: 5px;
}

.switch-toggle {
  height: 40px;
}

.switch-toggle input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type='checkbox'] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  /*    box-shadow: inset -8px -8px 15px rgba(255,255,255,.6),
                inset 10px 10px 10px rgba(0,0,0, .25);*/
  background: #f8f8f8;
}

.switch-toggle input[type='checkbox'] + label::before {
  position: absolute;
  content: 'OFF';
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switch-toggle input[type='checkbox']:checked + label::before {
  left: 50%;
  content: 'ON';
  color: #fff;
  background-color: #00b33c;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #00b33c;
}
</style>

<!-- 
  NEW KIKE

  [4:11 PM, 2/10/2022] Oladeji Stephen: 00cb6a00f2b350c0
  [4:11 PM, 2/10/2022] Oladeji Stephen: 00cb6a00f35200c0
  [4:11 PM, 2/10/2022] Oladeji Stephen: 00cb6a00f2b360c0


 -->
