<template>
  <div class="row mt-2">
    <div class="col-md-4 mb-3">
      <div class="bg-white p-3 h-full">
        <h6 class="font-weight-bold mb-3">Cost saving</h6>
        <div class="row">
          <div class="col-4">
            <img
              src="@/assets/images/kikestat1.png"
              alt=""
              style="width: 100%"
            />
          </div>
          <div class="col align-self-center">
            <div class="row" style="gap: 0.4rem">
              <div class="col-3">
                <p class="text-muted mb-0 small">Gas</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Kerosene</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Biomas</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Electricity</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Biofuels</p>
                <p class="text-bold mb-0">000000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="bg-white p-3 h-full">
        <h6 class="font-weight-bold mb-3">Environmental savings</h6>
        <div class="row">
          <div class="col-4">
            <img
              src="@/assets/images/kikestat22.png"
              alt=""
              style="width: 100%"
            />
          </div>
          <div class="col align-self-center">
            <div class="row" style="gap: 0.4rem">
              <div class="col-4">
                <p class="text-muted mb-0 small">Cars off road</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-4">
                <p class="text-muted mb-0 small">Trees saved</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-4">
                <p class="text-muted mb-0 small">Air travels</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-4">
                <p class="text-muted mb-0 small">Water saved</p>
                <p class="text-bold mb-0">000000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="bg-white p-3 h-full">
        <h6 class="font-weight-bold mb-3">Cost saving</h6>
        <div class="row">
          <div class="col-4">
            <img
              src="@/assets/images/kikestat2.png"
              alt=""
              style="width: 100%"
            />
          </div>
          <div class="col align-self-center">
            <div class="row" style="gap: 0.4rem">
              <div class="col-3">
                <p class="text-muted mb-0 small">Gas</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Kerosene</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Biomas</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Electricity</p>
                <p class="text-bold mb-0">000000</p>
              </div>
              <div class="col-3">
                <p class="text-muted mb-0 small">Biofuels</p>
                <p class="text-bold mb-0">000000</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

export default {
  name: 'ChiomaStats',
  props: ['device'],
  data() {
    return {
      status: 0,
      active: true,
      chiomaData: {},
    }
  },

  computed: {
    ...mapState('dashboard', ['socket_auth']),
    peakEnergy() {
      return this.chiomaData.cummulative_peak_energy
    },
    totalEnergy() {
      return this.chiomaData.cummulative_total_energy
    },
    activePower() {
      return this.chiomaData.total_active_power
    },
    voltage() {
      return this.chiomaData.voltagea
    },
    availableUnit() {
      return this.chiomaData.available_unit
    },
    billingType() {
      return this.chiomaData.billingt_ype
    },
    costPKw() {
      return this.chiomaData.cost_per_kw
    },
  },

  async mounted() {
    // fetch initial data from api
    await this.fetchDeviceData(this.device.imei).then((res) => {
      // this.blockData = JSON.parse(res.block.data)
      // this.inverterData = JSON.parse(res.inverter.data)
      this.chiomaData = JSON.parse(res.data)
    })

    setInterval(() => {
      this.$socket.emit('data', {
        event: 'device_detail',
        key: this.socket_auth.key,
        imei: this.device.imei,
        token: this.$config.socketToken,
      })
    }, 20000)

    // listen to chioma data event
    this.$socket.on('data', (data) => {
      if (data.device && data.device.imei === this.device.imei) {
        // this.blockData = JSON.parse(data.device.block.data)
        // this.inverterData = JSON.parse(data.device.inverter.data)
        this.chiomaData = JSON.parse(data.device.data)
      }
    })
  },

  methods: {
    ...mapActions('dashboard', ['fetchDeviceData']),
  },
}
</script>

<style scoped>
img {
  width: 80%;
}

@media (max-width: 768px) {
  img {
    width: 50%;
  }
}
</style>
