<template>
   <div>OWATTS</div>
</template>

<route lang="yaml">
meta:
    layout: dashboard
    middleware: []
    requiresAuth: true
</route>

<script>
import { useMeta } from 'vue-meta'
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { mapActions, useStore, mapGetters, mapState, mapMutations } from "vuex";
export default {
    setup() {
        useMeta({
            title: 'Home',
        })
        const router = useRouter()
        router.push('/monitor')
        return {
            ...mapActions('device', ['fetchDevice'])
        }
    },
    data() {
        return {}
    },
    computed: {},
    mounted() {},
    methods: {}
}

</script>
<style>
@import '@glidejs/glide/dist/css/glide.core.min.css';

</style>
