<template>
    <div class="container flex items-center justify-center mt-10">
        <div class="w-full md:w-1/2 xl:w-1/3">
            <div class="mx-5 md:mx-10">
                <h2 class="uppercase text-center">It’s Great To See You!</h2>
                <h4 class="uppercase text-center text-red-700">{{errorMessage}}</h4>
            </div>
            <form class="card trans mt-5 p-5 md:p-10">
                <div class="mb-5">
                    <label class="label block mb-2" for="email">Email</label>
                    <input type="text" required class="form-control" v-model="email" id="email" placeholder="example@example.com">
                </div>
                <div class="mb-5">
                    <label class="label block mb-2" for="password">Password</label>
                    <label class="form-control-addon-within">
                        <input type="password" required class="form-control border-none" id="password" v-model="password">
                        <span class="flex items-center pr-4"><button type="button" class="btn btn-link text-gray-600 dark:text-gray-600 la la-eye text-xl leading-none" data-toggle="password-visibility"></button></span>
                    </label>
                </div>
                <div class="flex items-center">
                    <a href="#" class="text-sm uppercase">Forgot Password?</a>
                    <button type="submit" @click.prevent="login()" class="btn btn_primary ml-auto uppercase">Login</button>
                </div>
            </form>
        </div>
    </div>
</template>

<route lang="yaml">
    meta:
     layout: auth
     middleware: []
</route>

<script>
import { computed, ref, onMounted, onBeforeMount } from 'vue'
import { useStore, mapGetters, mapActions } from 'vuex'
import { useRouter } from 'vue-router'
export default {
    name: 'Login',
    setup() {
        const store = useStore();
        const router = useRouter()
        return {
            store,
            router
        }
    },
    data() {
        return {
            email: '',
            password: '',
            errorMessage: ''
        }
    },
    methods: {
        async login() {
            let email = this.email
            let password = this.password
            await this.store.dispatch('auth/login', { email, password })
                .then((res) => {
                    // this.router.push('/dashboard')
                    window.location = '/monitor'
                })
                .catch((err) => {
                    if (err.response && err.response.status === 400) {
                        this.errorMessage = err.response.data.non_field_errors[0]
                        let that = this
                        setTimeout(function() {
                            that.errorMessage = ''
                        }, 10000)
                    }
                    console.log(err)
                })
        }
    }
};

</script>
<style type="text/css">
    .trans{
        background: transparent;
        background-color: #ffffff6b
    }
</style>