<template>
     <!-- Actions -->
    <div class="card lg:flex p-4 mb-5">
        <button class="" @click="$router.back()">
            <span class="text-bold"><i class="la la-undo"></i>Back</span>  
        </button>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <!-- <h2 class="text-xl text-center leading-tight">242423449</h2> -->
        </div>
        <div class="flex items-center ml-auto mt-5 lg:mt-0">
            <div class="w-1/3  mt-0">
                <div class=" flex ml-2">
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class="text-xs">Maitain</p>
                    </button>
                    <button class="ml-5 btn  btn_secondary uppercase" @click="showCreateDeviceModal = true">
                        <p class="text-xs">Configure</p>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div  class="w-full lg:-mx-4">
       
        <div class="lg:flex lg:px-4 pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <KikeRealTime  />
            </div>
        </div>

        <div class="lg:flex lg:px-4 pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaConsumptionChart />
            </div>
        </div>

        <div class="lg:flex lg:px-4 pt-5 lg:pt-0">
            <!-- Recent Posts  -->
            <div class="w-full card mt-5 mr-2 p-5">
                <ChiomaEnergyOverview />
            </div>
        </div>
    </div>
</template>

<route lang="yaml">
meta:
    layout: dashboard
</route>

<script>
    import { useRouter, useRoute  } from 'vue-router'
    export default{
        setup(){
            const router = useRouter()
            const route  = useRoute()
            console.log(route)
            return{}
        },
        data(){
            return{
                currentDevice: {}
            }
        }
    }
</script>
