<template></template>
<script>
import customScript from "~/assets/js/script.js";
import darkmodeScript from "~/assets/js/darkmode.js";

import { computed, ref, onMounted, onBeforeMount, nextTick } from 'vue'

export default {

  setup(){
    const doubleRequestAnimationFrame = (callback) => {
      requestAnimationFrame(() => {
        requestAnimationFrame(callback)
      })
    }

    const forceNextTick = (callback) => {
      if (callback && typeof callback === 'function') {
        doubleRequestAnimationFrame(callback)
      } else {
        return new Promise(resolve => {
          doubleRequestAnimationFrame(resolve)
        })
      }
    }

    return {
      forceNextTick
    }


  },


    mounted () {
      let unsubscribe = null
      unsubscribe = this.$store.subscribe((mutation, state) => {
        if (mutation) {
          nextTick(()=>{
            setTimeout(function(){
               customScript()
              }, 1000)
           })
          unsubscribe() // So it only reacts once.
        }
      }) 

      this.forceNextTick(() => {
        nextTick(()=>{
          setTimeout(function(){
             customScript()
             darkmodeScript()
            }, 1000)
        })
      })
    }
};

</script>

