<template>
    <footer class="container flex mt-auto">
        <div class="footer">
            <span class='uppercase'>&copy; 2021 OWatts</span>
            <nav class="ml-auto">
                <a href="mailto: >?subject=Support">Support</a>
                <span class="divider mx-2">|</span>
                <a href="" target="_blank">FAQ</a>
            </nav>
        </div>
    </footer>
</template>