<template>
    <section class="top-bar">

        <!-- Brand -->
        <img src="/assets/images/logo-black.png" class="w-40">

        <nav class="flex items-center ml-auto">
        	<!-- Dark Mode -->
            <label class="switch switch_outlined" data-toggle="tooltip" data-tippy-content="Toggle Dark Mode">
                <input id="darkModeToggler" type="checkbox">
                <span></span>
            </label>
            <a href="/login" class="btn btn_primary uppercase ml-5">Login</a>
             
        </nav>
    </section>
</template>
