<template>
    <div class="top-bar">

        <!-- Menu Toggler -->
        <button type="button" class="menu-toggler la la-bars" data-toggle="menu"></button>

        <!-- Logo -->
        <img src="/assets/images/logo-black.png" class="ml-4 w-24">

        <!-- Brand -->
        <span class="brand text-lg hidden md:block">| Realtime System</span>

        <!-- Search -->
        <!-- <form class="hidden md:block ml-10" action="#">
            <label class="form-control-addon-within rounded-full">
                <input type="text" class="form-control border-none" placeholder="Search">
                <span class="flex items-center pr-4">
                    <button type="button" class="dark:text-gray-700 dark:hover:text-primary btn btn-link text-gray-300 hover:text-primary text-xl leading-none la la-search"></button>
                </span>
            </label>
        </form>
 -->
        <!-- Right -->
        <div class="flex items-center ml-auto">

            <!-- <select @change="setCurrentDevice()" v-model="currentDevice" class="form-control mr-4">
                <option>Select Device</option>
                <option v-for="device in devicesImieList">{{device}}</option>
            </select> -->

           


            <!-- Devices -->
            <tippy content-tag="div" content-class="content-wrapper" arrow interactive :hide-on-click="false">
                <button type="button" class="flex items-center h-full btn-link ml-4 lg:ml-1 px-2 text-2xl leading-none la la-box">
                </button>

                <template #content>
                    <div class="tippy-arrow" style="position: absolute; left: 0px; transform: translate(93px, 0px);"></div>
                    <div class=" w-72 p-2 text-center mt-5" style="min-height: 300px;">
                        <h3>Current Station</h3>
                    </div>
                </template>
            </tippy>
          

            <!-- Dark Mode -->
            <label class="switch switch_outlined" data-toggle="tooltip" data-tippy-content="Toggle Dark Mode">
                <input id="darkModeToggler" type="checkbox">
                <span></span>
            </label>

            <!-- Fullscreen -->
            <button type="button" class="hidden lg:inline-block btn-link ml-3 px-2 text-2xl leading-none la la-expand-arrows-alt" data-toggle="tooltip" data-tippy-content="Fullscreen" id="fullScreenToggler"></button>


            <!-- User Menu -->
            <div class="dropdown">
                <button class="flex items-center ml-4 text-gray-700 focus:outline-none" data-toggle="custom-dropdown-menu" data-tippy-arrow="true" data-tippy-placement="bottom-end">
                    <span class="dark:bg-gray-900 dark:border-gray-600 dark:text-gray-500 flex items-center justify-center w-8 h-8 rounded-full bg-gray-200  text-lg text-gray-700">AA</span>
                </button>
                <div class="custom-dropdown-menu w-64">
                    <div class="p-5">
                        <h5 class="text-xl text-center">{{user.email}}</h5>
                    </div>
                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="#" class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span class="la la-user-circle text-2xl leading-none mr-2"></span>View Profile</a>
                        <a href="#" class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary mt-5"><span class="la la-key text-2xl leading-none mr-2"></span>Change Password</a>
                    </div>
                    <hr class="dark:border-gray-900 mb-0">
                    <div class="p-5">
                        <a href="/logout" class="dark:text-gray-500 dark:hover:text-primary flex items-center text-gray-700 hover:text-primary"><span class="la la-power-off text-2xl leading-none mr-2"></span>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { useStore, mapGetters, mapActions } from 'vuex'
import { useRouter } from 'vue-router'
export default {
    name: 'Header',
    data() {
        return {}
    },
    computed: {
        ...mapGetters("user", ["user"]),
    },
    created() {},
    mounted() {},
    
};

</script>

<style>
.tippy-box[data-theme~='light']>.tippy-arrow::before {
    transform: scale(1.5);
}

</style>
