<template >
    <div class="card lg:flex p-4 my-5">  
        <div class="md:w-1/2 flex items-center">
            <h1 class="float-left">Current Device: <span>&nbsp</span>  </h1>
            <span> {{currentDevice.imei}}</span>
        </div>
        <div class="flex md:w-1/2 items-center">
            <div class="custom-select  w-1/2 ">
                <select class="form-control" size="1">
                    <option>Station</option>
                    <option>Option</option>
                </select>
                <div class="select-icon la la-caret-down"></div>
            </div>
            <div class="custom-select w-1/2 ">
                <select class="form-control" size="1"  @change="setCurrentDevice($event.target.value)" >
                    <option v-for="device in devices"   :value="device.imei">{{device.imei}}</option>
                </select>
                <div class="select-icon la la-caret-down"></div>
            </div>
        </div>
    </div>

</template>
<script>
    import {mapGetters, mapActions, mapState, mapMutations} from 'vuex'
    export default{
        name: 'SwitchDeviceComponent',
        setup() {
            return {
                ...mapActions('device', ['fetchDevice']),
                ...mapMutations('device', ['SET_CURRENT_DEVICE'])
            }
        },
        data(){
            return {
            }
        },
        computed: {
            ...mapGetters("user", ["user"]),
            ...mapGetters("device", ["devices", "currentDevice"]),

            devicesImieList() {
                return this.devices.map(function(device) {
                    return device['imei']
                })
            }
        },
        methods: {
            async setCurrentDevice(imei) {
                let device = await this.fetchDevice(imei)
                this.SET_CURRENT_DEVICE(device)
            }
        },
        created() {
            if(this.devices){
                this.fetchDevice(this.devices[0].imei);
            }

        }

    }
</script>
