<template>
    <button
        class="px-4 py-2 ml-2 text-white transition duration-200 bg-blue-500 rounded  hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2"
    >
        <slot></slot>
    </button>
</template>
