<template>
    <div class="card p-5">
        <div class="glide mt-5" id="carousel-style-1">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">

                    <!-- SLIDE ONE -->
                    <div class="glide__slide flex space-x-2">

                        <!-- PANEL -->
                        <div class="border w-1/3 border-gray-300 rounded-lg px-8 py-8 text-center">

                            <div v-if="solarinfocard[0]" @click="switchInfoCard(solarinfocard, 0, 1)">
                                <h6 class="font-bold text-left">Solar yielding</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/panel.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Today Yielding</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayYielding ? todayYielding : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Total Yielding</small>
                                        <div class="uppercase text-bold text-md">{{ totalYielding ? totalYielding : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>

                            <!-- load today -->
                            <div v-if="solarinfocard[1]" @click="switchInfoCard(solarinfocard, 1, 2)">
                                <h6 class="font-bold text-left">Solar yielding</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/panel.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Load Today</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayYielding ? todayYielding : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Load Total</small>
                                        <div class="uppercase text-bold text-md">{{ totalYielding ? totalYielding : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>

                            <!-- charge total -->
                            <div v-if="solarinfocard[2]" @click="switchInfoCard(solarinfocard, 2, 0)">
                                <h6 class="font-bold text-left">Solar yielding</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/panel.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Charge Today</small>
                                        <div class="uppercase mb-2  text-bold text-md">{{ todayYielding ? todayYielding : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Charge Total</small>
                                        <div class="uppercase text-bold text-md">{{ totalYielding ? totalYielding : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BATTERY -->
                        <div class="border w-1/3 border-gray-300 rounded-lg px-8 py-8 text-center">
                            
                            <!-- battery charge today and total -->
                            <div v-if="batteryinfocard[0]" @click="switchInfoCard(batteryinfocard, 0, 1)">
                                <h6 class="font-bold text-left">Battery Charge</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/battery2.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Today Charge</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayCharge ? todayCharge : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Total Charge</small>
                                        <div class="uppercase text-bold text-md">{{ totalCharge ? totalCharge : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>

                            <!-- battery discharge today and total -->
                            <div v-if="batteryinfocard[1]" @click="switchInfoCard(batteryinfocard, 1, 0)">
                                <h6 class="font-bold text-left">Battery Discharge</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/battery2.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Today Discharge</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayDischarge ? todayDischarge : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Total Discharge</small>
                                        <div class="uppercase text-bold text-md">{{ totalDischarge ? totalDischarge : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- GRID -->
                        <div class="border w-1/3 border-gray-300 rounded-lg px-8 py-8 text-center">
                            <div v-if="gridinfocard[0]" @click="switchInfoCard(gridinfocard, 0, 1)">
                                <h6 class="font-bold text-left">Grid Import</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/grid2.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Today Import</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayImport ? todayImport : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Total Import</small>
                                        <div class="uppercase text-bold text-md">{{ totalImport ? totalImport : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>

                            <!-- load today -->
                            <div v-if="gridinfocard[1]" @click="switchInfoCard(gridinfocard, 1, 0)">
                                <h6 class="font-bold text-left">Grid Export</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/grid2.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-sm text-gray-400">Load Today</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayExport ? todayExport : 0 }} kWh</div>
                                        <small class="text-sm text-gray-400">Total yielding</small>
                                        <div class="uppercase text-bold text-md">{{ totalExport ? totalExport : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SLIDE TWO -->
                    <div class="glide__slide flex space-x-2">
                        <!-- CONSUMPTION -->
                        <div class="border w-1/3 border-gray-300 rounded-lg p-8 text-center">
                            <div v-if="usageinfocard[0]" @click="switchInfoCard(usageinfocard, 0, 1)">
                                <h6 class="font-bold text-left">Consumption</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/usage.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Today Usage</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayUsage ? todayUsage : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Total Usage</small>
                                        <div class="uppercase text-bold text-md">{{ totalUsage ? totalUsage : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>

                            <!-- load today -->
                            <div v-if="usageinfocard[1]" @click="switchInfoCard(usageinfocard, 1, 0)">
                                <h6 class="font-bold text-left">Consumption</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/usage.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-sm text-gray-400">Load Today</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayYielding ? todayYielding : 0 }} kWh</div>
                                        <small class="text-sm text-gray-400">Total yielding</small>
                                        <div class="uppercase text-bold text-md">{{ totalYielding ? totalYielding : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- METERING COSTING -->
                        <div class="border w-1/3 border-gray-300 rounded-lg p-8 text-center">
                            <div v-if="costinginfocard[0]" @click="switchInfoCard(costinginfocard, 0, 1)">
                                <h6 class="font-bold text-left">Metering</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/active_power.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Meter Balance</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ todayYielding ? todayYielding : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Status</small>
                                        <div class="uppercase text-bold text-md">Active</div>
                                    </div>
                                </div>
                            </div>

                            <!-- load today -->
                            <div v-if="costinginfocard[1]" @click="switchInfoCard(costinginfocard, 1, 0)">
                                <h6 class="font-bold text-left">Metering</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/active_power.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Peak Energy</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ peakEnergy ? peakEnergy : 0 }} kWh</div>
                                        <small class="text-xs text-gray-400">Total Energy</small>
                                        <div class="uppercase text-bold text-md">{{ totalEnergy ? totalEnergy : 0 }} kWh</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Generator -->
                        <div class="border w-1/3 border-gray-300 rounded-lg p-8 text-center">
                            <div v-if="geninfocard[0]" @click="switchInfoCard(geninfocard, 0, 0)">
                                <h6 class="font-bold text-left">Generator Export</h6>
                                <div class="flex mt-4">
                                    <div class="w-1/2">
                                        <img src="/assets/images/generator.png" alt="" class="h-16" />
                                    </div>
                                    <div class="w-1/2 text-left">
                                        <small class="text-xs text-gray-400">Generator Voltage</small>
                                        <div class="uppercase mb-2 text-bold text-md">{{ 243.6 }} VAC</div>
                                        <small class="text-xs text-gray-400">Generator Current</small>
                                        <div class="uppercase text-bold text-md">{{ 10 }} A</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--  <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="glide__bullet" data-glide-dir="=0"></button>
                <button class="glide__bullet" data-glide-dir="=1"></button>
                <button class="glide__bullet" data-glide-dir="=2"></button>
            </div> -->
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><span class="la la-arrow-left"></span></button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><span class="la la-arrow-right"></span></button>
            </div>
        </div>
    </div>
</template>

<script>
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { mapActions, useStore, mapGetters, mapState, mapMutations } from "vuex";
import Glide from '@glidejs/glide'
export default {
    props: ['device'],
    setup() {
        return {
            ...mapActions('device', ['fetchDevice'])
        }
    },
    data() {
        return {
            solarinfocard: [true, false, false],
            usageinfocard: [true, false],
            batteryinfocard: [true, false],
            gridinfocard: [true, false],
            geninfocard: [true, false],
            costinginfocard: [true, false],
            meterData: {},
            inverter: {},
            inverterData: {},
            block: {},
        }
    },
    computed: {
        ...mapGetters("user", ["user"]),
        ...mapGetters("device", ["currentDevice"]),

        imei(){
            return this.device ? this.device.imei : this.currentDevice.imei
        },

        // Meter
        peakEnergy() {
            return this.meterData.cummulative_peak_energy
        },
        totalEnergy() {
            return this.meterData.cummulative_total_energy
        },
        activePower() {
            return this.meterData.total_active_power
        },
        voltage() {
            return this.meterData.voltagea
        },
        availableUnit() {
            return this.meterData.available_unit
        },
        billingType() {
            return this.meterData.billingt_ype
        },
        costPKw() {
            return this.meterData.cost_per_kw
        },

        // INVERTER
        todayYielding() {
            // Data.epv1_dat +  data.epv2_day+ data.epv3_day
            let data = this.inverterData
            return Number(data.epv1_day + data.epv2_day + data.epv3_day)
        },
        totalYielding() {
            // Data.epv1_all + data.epv2_all + data.epv3_all
            let data = this.inverterData
            return Number(data.epv1_all + data.epv2_all + data.epv3_all)
        },
        totalDischarge() {
            // Data.edisch_all
            let data = this.inverterData
            return data.edischg_all
        },
        todayDischarge() {
            // Data.edisch_day
            let data = this.inverterData
            return data.edischg_day
        },
        todayCharge() {
            // Data.edisch_day
            let data = this.inverterData
            return data.echg_day
        },
        totalCharge() {
            // Data.edisch_day
            let data = this.inverterData
            return data.echg_all
        },
        todayExport() {
            // Data.etogrid_day
            let data = this.inverterData
            return Number(data.etogrid_day)
        },
        totalExport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etogrid_all)
        },
        totalImport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etouser_all)
        },
        todayImport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etouser_day)
        },
        totalImport() {
            // Data.etogrid_all
            let data = this.inverterData
            return Number(data.etouser_all)
        },
        todayUsage() {
            // Data.etouser_day
            let data = this.inverterData
            return Number(data.etouser_day)
        },
        totalUsage() {
            // Data.etouser_all
            let data = this.inverterData
            return Number(data.etouser_all)
        },
    },
    async mounted() {
        new Glide('.glide').mount()
        // verify that current device is chioma/prepaid meterData
       
        await this.fetchDevice(this.imei)
        .then((res) => {
            this.inverter = res.data
            this.inverterData = (res.data)
            this.meterData = (res.data)
        })
       
    },
    async created() {},
    methods: {
        switchInfoCard(card, from, to) {
            card[from] = false
            card[to] = true
        },
    }
}

</script>
<style>
@import '@glidejs/glide/dist/css/glide.core.min.css';

</style>
