<template>
     <!-- Actions -->
     <div>  
        <SwitchDeviceComponent/>
    </div>

    <!-- data logs -->
    <div class="w-full card mt-5 mr-2 p-5">
        <h3 class="text-xl">Device Data Logs</h3>
        <DeviceLogTable :key="currentDevice.imei" />
    </div>
</template>

<route lang="yaml">
meta:
    layout: dashboard
</route>

<script>
import DataTable from 'datatables.net-vue3';
import { useMeta } from 'vue-meta'
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { mapActions, useStore, mapGetters, mapState, mapMutations } from "vuex";
export default {
    setup() {
        useMeta({
            title: 'Analytics',
        })
        const router = useRouter()
        const store = useStore()
        return {
            
        }
    },
    components: {DataTable},
    computed: {
        ...mapState("device", ['currentDevice', 'devices'])
    },
    mounted() {
    }
}

</script>
