<template>
    <section class="breadcrumb">
        <div class="pt-2">
            <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
                <!--Left Col-->
                <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
                    <p class="uppercase tracking-loose w-full mt-10">A reliable, clean supply of electricity</p>
                    <h1 class="my-4 lg:text-5xl text-2xl font-bold leading-tight">
                        BLOCKCHAIN-POWERED DIGITAL ELECTRICITY
                    </h1>
                    <p class="leading-normal lg:text-2xl w-full text-xl mb-8">
                        Now, Electricity Access Is Free. <br> Join The Solution
                    </p>
                    <button @click="$router.push('login')" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                        Get Started
                    </button>
                </div>
                <!--Right Col-->
                <div class="w-full md:w-3/5 py-6 text-center">
                    <img class="w-full md:w-4/5 z-50" src="/assets/images/5386335.png">
                </div>
            </div>
        </div>

    </section>
</template>

<script setup>
import { useMeta } from 'vue-meta'
useMeta({
    title: 'Homepage',
})
</script>