<template>
    <section class="breadcrumb">
        <div class="pt-2">
            <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
                <!--Left Col-->
                <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
                    <p class="uppercase tracking-loose w-full mt-10">A reliable, clean supply of electricity</p>
                    <h1 class="my-4 lg:text-5xl text-2xl font-bold leading-tight">
                        BLOCKCHAIN-POWERED DIGITAL ELECTRICITY
                    </h1>
                    <p class="leading-normal lg:text-2xl w-full text-xl mb-8">
                        Now, Electricity Access Is Free. <br> Join The Solution
                    </p>
                    <button @click="$router.push('login')" class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                        Get Started
                    </button>
                </div>
                <!--Right Col-->
                <div class="w-full md:w-3/5 py-6 text-center">
                    <img class="w-full md:w-4/5 z-50" src="/assets/images/5386335.png">
                    <ul id="messages"></ul>
                    <form id="form" action="">
                        <input id="input" autocomplete="off" /><button>Send</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
import { useMeta } from 'vue-meta'


export default {
    setup() {
        useMeta({
            title: 'Socket',
        });
    },
    mounted() {
        const socket = io('https://devicechat2.onewattsolar.org');
        console.log(socket)
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        // emit
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });
        // listen
        socket.on('chat message', function(msg) {
            var item = document.createElement('li');
            item.textContent = msg;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
    }
};

</script>

<style type="text/css" scoped="">
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: block;
    position: absolute;
    top: 20px;
    right: 10%;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

</style>
