<template>
	<!-- Top Bar  -->
    <Header></Header>


    <div class="mx-auto">
    	<div class="flex flex-row">
	     	<!-- Menu Bar -->
		    <Sidebar></Sidebar>

		    <!-- Main content area -->
		    <main class="workspace overflow-hidden">
		        <router-view />
		    </main>
	 	</div>
	</div>

    <!-- Footer  -->
    <Footer></Footer>
    <CustomScriptLoader></CustomScriptLoader>



</template>

<script>
	import { useMeta } from 'vue-meta'
	import { computed, ref, onMounted, onBeforeMount, nextTick } from 'vue'
	// import customScript from "~/assets/js/script.js";
	import { useStore } from 'vuex'


	
	export default{
		setup(){
			const store = useStore()
			
			// init sitewide data
			store.dispatch('device/fetchDevices')
			return {
			}
		},
		mounted(){
			// customScript()
		}

		// data(){
		// 	return{
		// 		dataloaded: true
		// 	}
		// },
		// beforeMount(){
		// 	this.$nextTick(()=>{
		// 		this.dataloaded = false
		// 		let that = this
		//        	setTimeout(function(){
		//        		that.dataloaded =   true
		//        	}, 5000)
	 //       })
			
		// }
	}

</script>
