<template>
	<!-- Top Bar  -->
    <GuestHeader></GuestHeader>

    <div class="mx-auto">
    	<div class="flex flex-row">
	     	<!-- Menu Bar -->

		    <!-- Main content area -->
		    <main class="workspace">
		        <router-view />
		    </main>
	 	</div>
	</div>

    <!-- Footer  -->
    <Footer></Footer>

</template>
<script setup>
	import { useMeta } from 'vue-meta'
	import {renewToken} from '~/middlewares/auth'

	renewToken();
</script>

<route>
{
  meta: {
    middleware: []
  }
}
</route>